
  @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap');

:root {
    --creme: #fefbea;
    --crimson: #8c0c0c;
    --brown: #74480a;
    --darkbrown:#462e1c;;
    --darkgreen: #63740a;
  
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
  
    --font-size-sm: 0.5rem;
    --font-size-md: 1rem;
    --font-size-lg: 50px;
  }

body{
  background-color: var(--creme);
}

.welcome{
    font-family: 'Gloock';
    font-style: normal;
    display: flex;
    flex-direction: row;
    font-size: 50px;
    color: var(--darkbrown);
    align-items: center;
    font-weight: 600;
    color: var(--darkgreen);
    width: 100%;
    justify-content: center;
    align-content: center;
}

.container-welcome{
  width: 50%;
  padding: 10px;
}
.welcome-img{
  max-width: 50rem;
}

.welcome-message{
  max-width: 50%;
  font-family: 'Gloock';
}

.message{
  font-family: 'Gloock';
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Playfair display'
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  header{
    position: sticky;
    z-index: 30;
    top: 0;
  }

  nav{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--creme);
    color: var(--crimson);
  }
  .nav__menu-bar{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
  }

  .nav__menu-list{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    width: 288px;
    row-gap: 24px;
    right: -288px;
    padding: 24px 16px;
    transition: all 0.2s;
    min-height: calc(100vh - 60px);
  }
  
  .nav__menu-list.active{
    right: 0;
  }
  
  .nav__link{
    font-size: 30px; 
    position: relative;
    transition: all 0.2s;
  }
  
  .nav__link:hover{
   font-weight: 600;
  }
  
    .nav__menu-list{
      position: unset;
      flex-direction: row;
      min-height: fit-content;
      width: fit-content;
      column-gap: 50px;
      align-items: center;
    }

    .nav__link::before{
      content: '';
      position: absolute;
      width: 0%;
      height: 6px;
      bottom: -16px;
      left: 0;
      background-color: black;
      transition: all 0.2s;
    }
    
    .nav__link:hover:before{
     width: 100%;
    }

    .officer-card {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: calc(50% - 20px);
      height: 20rem;
      margin: 10px;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 10px;
      text-align: center;
    }

  .officer-title-name{
      width: 50%;
    }

    .card-content{
      width: 50%;
    }

  .officer-title{
      font-size: 2rem;
      justify-content: center;
      color: var(--brown);
      text-align: center;
      padding: 5px;
    }

    .officer-card .officer-name{
      font-size: 1.5rem;
      color: var(--darkbrown);
      text-align: center;
      padding: 5px
    }

    .officer-card .card-content{
      font-size: 1rem;
      color: var(--darkbrown);
      text-align: center;
      padding: 5px;
    }

    .officer-card .officer-img{
      max-width: 15rem;
      padding: 1rem;
      border-radius: 3rem;
    }